@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
    min-width: 100vh;
    background: linear-gradient(to bottom, #0066ff, #00327c);
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    width: 160px;
    height: 75px;
}

.logo2 {
    width: 60px;
    height: 45;
    position: fixed;
    bottom: 25px;
    left: 25px;
}

.student {
    width: 600px;
    height: 600px;
    position: fixed;
    bottom: -12px;
    right: -95px;
}

.student1 {
    width: 500px;
    height: 500px;
    position: fixed;
    bottom: -12px;
    right: -130px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.navigation li {
    list-style: none;
}

.navigation li a {
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
}

.navigation li a:hover,
.navigation li a .active {
    background: aliceblue;
    color: #0066ff;
}

section {
    position: fixed;
    left: 300px;
}

h1,
h2 {
    font-size: 2.5em;
    color: #f6d84f;
}

.txt4 {
    font-size: 1.6em;
    color: white;
    left: 5px;
}

/* Estilos para el container */
.container {
    position: absolute;
    top: 150px;
    left: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Estilos para los labels */
.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

label {
    font-weight: bold;
    margin-right: 17rem;
}

/* Estilos para el botón y la lista desplegable */
.botones {
    display: inline-block;
    margin-top: 10px;
}

.dropdown-button {
    background-color: #0066ff;
    color: white;
    border: none;
    padding: 10px 60px;
    cursor: pointer;
    border-radius: 10px;
}

.dropdown-list {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
}

.dropdown-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

/* Estilos para el efecto de deslizamiento */
.slide-down {
    display: block;
    animation: slide-down 0.5s ease;
}

/* Estilos para el mensaje de opción vacía */
.mensaje-vacio {
    color: red;
    display: none;
    margin-top: 5px;
}
